.container1903 {
    background: url(bg-contact.jpg) top center no-repeat;
    background-size: cover;
    position: relative
}

.sec33_row .wrap>div {
    padding: 32px 0 32px
}

.entry-loop__row {
    width: 100%;
    margin-top: 12px
}

.form_register {
    background: #fff;
    padding: 50px;
    border-radius: 30px
}

.form_title span {
    display: block;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 15px;
    color: #00a651;
    text-transform: uppercase;
    font-weight: 500
}

.form_register input[type="text"] {
    width: 100%;
    border: 1px solid #e0e0e0;
    margin: 10px 0;
    padding: 15px 10px;
    border-radius: 7px;
    background: #fbfbfb
}

.form_register textarea {
    width: 100%;
    border: 1px solid #e0e0e0;
    margin: 10px 0;
    padding: 15px 10px;
    border-radius: 7px;
    background: #fbfbfb
}

.form_register button[type="submit"] {
    display: block;
    margin: 20px auto;
    background-color: #028e46;
    color: #fff;
    padding: 15px 30px;
    border-radius: 22px;
    text-transform: uppercase
}

.form_register button[type="submit"]:hover {
    background-color: var(--color2);
    cursor: pointer
}

.sec33_row {
    width: 1170px
}

.sec33_col1 {
    width: 50%
}

.sec33_col1 span {
    font-weight: 700;
    color: #00a651;
    font-size: 2rem
}

.sec33_col1 hr {
    border: 1px solid #00a651
}

.sec33_col1 ul li {
    margin-left: 15px;
    padding: 20px 0;
    line-height: 1.5rem;
    text-align: justify
}

.sec33_col1 ul li:before {
    content: "•";
    color: #00a651;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

.sec33_col2 {
    width: 50%;
    padding: 0 0 100px 50px
}

.foot1 {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1920" height="1080" viewBox="0 0 1920 1080"><path d="M0,1080V0C302.32,67.1,1109.57,161.04,1920,0V1080Z" fill="%23efefef"/></svg>') center top no-repeat;
    background-size: cover;
    margin-top: -90px;
    position: absolute
}

@media screen and (max-width:1170px) {
    .sec33_row {
        width: 100%;
        padding: 0 20px
    }
    .sec33_col1 {
        width: 100%
    }
    .sec33_col1 ul li {
        margin-left: 15px;
        padding: 10px 0;
        line-height: 1.5rem;
        text-align: justify
    }
    .sec33_col2 {
        width: 100%;
        padding: 0 0 30px 0
    }
    .form_register {
        background: #fff;
        padding: 20px;
        border-radius: 10px
    }
    .foot1 {
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1920" height="1080" viewBox="0 0 1920 1080"><path d="M0,1080V0C302.32,67.1,1109.57,161.04,1920,0V1080Z" fill="%23efefef"/></svg>') center top no-repeat;
        background-size: contain;
        margin-top: -20px;
        position: absolute
    }
}